# Database Configuration (PostgreSQL example: postgresql://user:password@localhost:5432/shortener_db)
DATABASE_URL=sqlite:///./url_shortener.db

# Server Base URL
BASE_URL=http://127.0.0.1:8000

# Rate Limiting
RATE_LIMIT_PER_MINUTE=10

# Short Code Config
DEFAULT_CODE_LENGTH=6
MAX_RETRIES=5
